version: '3.8'

services:
  api:
    build: .
    ports:
      - "5000:5000"
    # CHANGE THIS SECTION:
    env_file:
      - .env 
    # This automatically loads MONGO_URI and PORT from your file
    
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - db

  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: